{% extends "base.html" %}

{% block title %}Factions{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Factions in {{ game.name }}</h1>
    <a href="{% url 'faction_create' game.id %}" class="btn btn-primary mb-4">Add New Faction</a>
    {% for faction in factions %}
    <div class="card mb-4">
        <div class="card-body">
            <a href="{% url 'faction_detail' faction.id game.id %}" style="text-decoration: none; color: inherit;">
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-md-4">
                        <h3>{{ faction.name }}</h3>
                        <p class="text-muted" style="font-style: italic;">{{ faction.description|truncatewords:20 }}</p>
                    </div>
                    <!-- Middle -->
                    <div class="col-md-4">
                        <h4>Active Projects</h4>
                        {% for project in faction.active_projects %}
                            <p><strong>{{ project }}</strong></p>
                        {% empty %}
                            <p>No active projects.</p>
                        {% endfor %}
                    </div>
                    <!-- Right -->
                    <div class="col-md-4">
                        <h4>Finished Projects</h4>
                        {% for project in faction.completed_projects %}
                            <p><strong>{{ project.name }}</strong></p>
                            {% if project.description %}
                                <p>{{ project.description|truncatewords:10 }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% empty %}
    <p class="text-muted">No factions available. Click "Add New Faction" to add one.</p>
    {% endfor %}
</div>
{% endblock %}
